@mixin ratio-settings {
    position: relative;
}

.ratio {
    &-1-1 {
        @include ratio-settings;
        padding-bottom: 100%;
    }

    &-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
