.anim {

    &-add-text {
        display: inline;

        &::after {
            content: '';
            background-color: $text_color;

            display: inline-block;
            vertical-align: middle;

            height: 1.1em;
            width: 0.1em;
            margin-left: 0.1em;

            animation: cursor-animation 0.75s infinite linear;
        }
    }
}

@keyframes cursor-animation {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}
