.explain {
    background-color: $bg_grey_color;
    padding-top: $section_padding;

    &-number {
        font-size: 8.57rem;
        line-height: 9rem;
        font-weight: 700;
        color: $text_grey_color;
        transition: color .4s ease;
        &.active {
            color: $primary_color;
        }
    }



    &-elem {
        margin-bottom: $section_padding;
        opacity: 1.0;
        transition: opacity 1.0s ease;

        &.active {
            opacity: 1.0;
        }
    }
}
